<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibição de Dados</title>
</head>

<body>
    <h1>{{ msg }}</h1>
    <div>
        <h2>Informações do Aluno</h2>
        <p><strong>Matrícula:</strong> {{ data['matricula'] }}</p>
        <p><strong>Nome:</strong> {{ data['nome'] }}</p>
        <p><strong>Endereço:</strong> {{ data['endereco'] }}</p>
        <p><strong>CEP:</strong> {{ data['cep'] }}</p>
        <p><strong>CPF:</strong> {{ data['cpf'] }}</p>
        <p><strong>Curso:</strong> {{ data['curso'] }}</p>
    </div>
</body>

</html>