<!DOCTYPE html>
<html>
<head>
    <title>Turma</title>
</head>
<body>
    <h1>Turma</h1>
    <h2>Criar Turma</h2>
    <form method="POST">
        <input type="text" name="cod_curso" placeholder="Codigo do Curso">
        <input type="text" name="professor" placeholder="Nome do Professor">
        <input type="time" name="horario" placeholder="Horario">
        <input type="checkbox" name="online" placeholder="Online">
        <input type="text" name="filial" placeholder="Nome da Filial">
        <input type="submit" name="criar" value="Criar Turma">
    </form>
</body>
</html>
