<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <h1>Formação</h1>
    <ul>
        <li><a href="{{ url_for('paginaCriarForm') }}">Criar Formação</a></li>
        <li><a href="{{ url_for('paginaConsultarForm') }}">Consultar Formação</a></li>
        <li><a href="{{ url_for('paginaAtualizarForm') }}">Atualizar Formação</a></li>
        <li><a href="{{ url_for('paginaExcluirForm') }}">Excluir Formação</a></li>
    </ul>
</body>

</html>