{% extends '/main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
    <h2>{{ acao }}</h2>
    <form method="post">
        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo" required><br><br>

        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label>Cursos na Grade:</label><br>
        {% for curso in cursos %}
        <input type="checkbox" id="{{ curso }}" name="grade" value="{{ curso }}">
        <label for="{{ curso }}">{{ curso }}</label><br>
        {% endfor %}

        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
{% endblock %}