/* cria_professor.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.btn-voltar-professor {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibe como um bloco */
    margin-top: 10px; /* Espaçamento superior */
}

.btn-voltar-professor:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura */
}
