{% extends '/main.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='./principal/css/principal.css') }}">
{% endblock %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="intro">
    {% if current_user.is_authenticated %}
    <h1>Ola</h1>
    <p>vc esta logado</p>
    <button>Learn More</button>
    {% else %}
    <h1>Site Educacional</h1>
    <p>esse site bla bla bla bla</p>
    <a href="/curso">
        <button>Cursos</button>
    </a>
    {% endif %}
</div>
<div class="achievements">
    <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Cursos</p>
        <p class="work-text">sei la</p>
    </div>
    <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Professores</p>
        <p class="work-text"> sei la</p>
    </div>
    <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">sei la</p>
        <p class="work-text">sei la</p>
    </div>
</div>
<div class="about-me">
    <div class="about-me-text">
        <h2>About Me</h2>
        <p>bla bla bla bla</p>
    </div>
    <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
        alt="me">
</div>
{% endblock %}