<!-- templates/professores/excluir_professor.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Professor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='professor/criar_professor.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Excluir Professor</h1>
    <form method="POST" action="{{ url_for('professor.excluir_professor_route') }}">
        <label for="codigoProfessor">Código do Professor:</label>
        <input type="text" id="codigoProfessor" name="codigoProfessor" required>
        <button type="submit">Excluir</button>
    </form>
    
    <!-- Botão "Voltar para a Lista de Professores" -->
    <a href="{{ url_for('professor.listar_professores') }}" class="btn-voltar-professor">Voltar para a Lista de Professores</a>
</body>
</html>
