/* Arquivo: curso.css */

body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* Estilo para o botão "Voltar para a Lista de Cursos" */
.btn-voltar-curso {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibe como um bloco */
}

/* Estilo para o botão quando o cursor pairar sobre ele */
.btn-voltar-curso:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura */
}

/* Estilo para mensagens flash */
.flashes {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

.flashes li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.flash-danger {
    background-color: #f44336;
}

.flash-success {
    background-color: #4CAF50;
}