<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='curso/curso.css') }}">
</head>
<body>
    <h1>Cursos</h1>
    <div class="button-container">
        <a href="{{ url_for('curso.pagina_criar_curso') }}" class="btn-criar-curso">Criar Curso</a>
        <a href="{{ url_for('curso.pagina_atualizar_curso') }}" class="btn-atualizar-curso">Atualizar Curso</a>
    </div>
    
    <h1>Gerenciamento de Cursos</h1>
    
    <!-- Lista de Cursos -->
    <h2  style="text-align: center;">Lista de Cursos</h2>
    <ul>
        {% for curso in cursos %}
            <li>
                <strong>Código:</strong> {{ curso.codigo }} - 
                <strong>Nome:</strong> {{ curso.nome }}
            </li>
        {% endfor %}
    </ul>
    
    <h2 style="text-align: center;">Consultar Curso</h2>
    <form action="/curso/consulta_curso" method="post">
        <label for="codigoCurso">Código do Curso:</label>
        <input type="text" id="codigoCurso" name="codigoCurso" required>
        <button type="submit">Consultar</button>
    </form>
    
    <h2  style="text-align: center;">Excluir Curso</h2>
    <form action="/curso/exclui_curso" method="post">
        <label for="codigoCurso">Código do Curso:</label>
        <input type="text" id="codigoCurso" name="codigoCurso" required>
        <button type="submit">Excluir</button>
    </form>
</body>
</html>
